/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.google.gerrit.client.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.google.gerrit.client.model.AccountDetailInfo
import com.google.gerrit.client.model.AccountExternalIdInfo
import com.google.gerrit.client.model.AccountInfo
import com.google.gerrit.client.model.AccountInput
import com.google.gerrit.client.model.AccountStateInfo
import com.google.gerrit.client.model.AgreementInfo
import com.google.gerrit.client.model.AgreementInput
import com.google.gerrit.client.model.AuthTokenInfo
import com.google.gerrit.client.model.AuthTokenInput
import com.google.gerrit.client.model.DeleteDraftCommentsInput
import com.google.gerrit.client.model.DeletedDraftCommentInfo
import com.google.gerrit.client.model.DiffPreferencesInfo
import com.google.gerrit.client.model.DisplayNameInput
import com.google.gerrit.client.model.EditPreferencesInfo
import com.google.gerrit.client.model.EmailInfo
import com.google.gerrit.client.model.EmailInput
import com.google.gerrit.client.model.GeneralPreferencesInfo
import com.google.gerrit.client.model.GpgKeyInfo
import com.google.gerrit.client.model.GpgKeysInput
import com.google.gerrit.client.model.GroupInfo
import com.google.gerrit.client.model.HttpPasswordInput
import com.google.gerrit.client.model.NameInput
import com.google.gerrit.client.model.OAuthTokenInfo
import com.google.gerrit.client.model.ProjectWatchInfo
import com.google.gerrit.client.model.SshKeyInfo
import com.google.gerrit.client.model.StatusInput
import com.google.gerrit.client.model.UsernameInput

import com.google.gson.annotations.SerializedName

import com.google.gerrit.client.infrastructure.ApiClient
import com.google.gerrit.client.infrastructure.ApiResponse
import com.google.gerrit.client.infrastructure.ClientException
import com.google.gerrit.client.infrastructure.ClientError
import com.google.gerrit.client.infrastructure.ServerException
import com.google.gerrit.client.infrastructure.ServerError
import com.google.gerrit.client.infrastructure.MultiValueMap
import com.google.gerrit.client.infrastructure.PartConfig
import com.google.gerrit.client.infrastructure.RequestConfig
import com.google.gerrit.client.infrastructure.RequestMethod
import com.google.gerrit.client.infrastructure.ResponseType
import com.google.gerrit.client.infrastructure.Success
import com.google.gerrit.client.infrastructure.toMultiValue

open class AccountsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://gerrit-review.googlesource.com")
        }
    }

    /**
     * DELETE /accounts/{account-id}
     * Delete Account
     * Deletes the given account if config enableDelete under accounts section is enabled.
     * @param accountId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteAccountsAccountId(accountId: kotlin.String) : Unit {
        val localVarResponse = deleteAccountsAccountIdWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /accounts/{account-id}
     * Delete Account
     * Deletes the given account if config enableDelete under accounts section is enabled.
     * @param accountId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteAccountsAccountIdWithHttpInfo(accountId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteAccountsAccountIdRequestConfig(accountId = accountId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteAccountsAccountId
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun deleteAccountsAccountIdRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/accounts/{account-id}".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /accounts/{account-id}/active
     * Delete Active
     * Sets the account state to inactive.
     * @param accountId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteAccountsAccountIdActive(accountId: kotlin.String) : kotlin.Any {
        val localVarResponse = deleteAccountsAccountIdActiveWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /accounts/{account-id}/active
     * Delete Active
     * Sets the account state to inactive.
     * @param accountId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteAccountsAccountIdActiveWithHttpInfo(accountId: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = deleteAccountsAccountIdActiveRequestConfig(accountId = accountId)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteAccountsAccountIdActive
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun deleteAccountsAccountIdActiveRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/accounts/{account-id}/active".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /accounts/{account-id}/emails/{email-id}
     * Delete Account Email
     * Deletes an email address of an account.
     * @param accountId 
     * @param emailId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteAccountsAccountIdEmailsEmailId(accountId: kotlin.String, emailId: kotlin.String) : kotlin.Any {
        val localVarResponse = deleteAccountsAccountIdEmailsEmailIdWithHttpInfo(accountId = accountId, emailId = emailId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /accounts/{account-id}/emails/{email-id}
     * Delete Account Email
     * Deletes an email address of an account.
     * @param accountId 
     * @param emailId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteAccountsAccountIdEmailsEmailIdWithHttpInfo(accountId: kotlin.String, emailId: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = deleteAccountsAccountIdEmailsEmailIdRequestConfig(accountId = accountId, emailId = emailId)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteAccountsAccountIdEmailsEmailId
     *
     * @param accountId 
     * @param emailId 
     * @return RequestConfig
     */
    fun deleteAccountsAccountIdEmailsEmailIdRequestConfig(accountId: kotlin.String, emailId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/accounts/{account-id}/emails/{email-id}".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())).replace("{"+"email-id"+"}", encodeURIComponent(emailId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /accounts/{account-id}/gpgkeys/{gpg-key-id}
     * Delete GPG Key
     * Deletes a GPG key of a user.
     * @param accountId 
     * @param gpgKeyId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteAccountsAccountIdGpgkeysGpgKeyId(accountId: kotlin.String, gpgKeyId: kotlin.String) : Unit {
        val localVarResponse = deleteAccountsAccountIdGpgkeysGpgKeyIdWithHttpInfo(accountId = accountId, gpgKeyId = gpgKeyId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /accounts/{account-id}/gpgkeys/{gpg-key-id}
     * Delete GPG Key
     * Deletes a GPG key of a user.
     * @param accountId 
     * @param gpgKeyId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteAccountsAccountIdGpgkeysGpgKeyIdWithHttpInfo(accountId: kotlin.String, gpgKeyId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteAccountsAccountIdGpgkeysGpgKeyIdRequestConfig(accountId = accountId, gpgKeyId = gpgKeyId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteAccountsAccountIdGpgkeysGpgKeyId
     *
     * @param accountId 
     * @param gpgKeyId 
     * @return RequestConfig
     */
    fun deleteAccountsAccountIdGpgkeysGpgKeyIdRequestConfig(accountId: kotlin.String, gpgKeyId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/accounts/{account-id}/gpgkeys/{gpg-key-id}".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())).replace("{"+"gpg-key-id"+"}", encodeURIComponent(gpgKeyId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /accounts/{account-id}/name
     * Delete Account Name
     * Deletes the name of an account.
     * @param accountId 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteAccountsAccountIdName(accountId: kotlin.String) : kotlin.String {
        val localVarResponse = deleteAccountsAccountIdNameWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /accounts/{account-id}/name
     * Delete Account Name
     * Deletes the name of an account.
     * @param accountId 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteAccountsAccountIdNameWithHttpInfo(accountId: kotlin.String) : ApiResponse<kotlin.String?> {
        val localVariableConfig = deleteAccountsAccountIdNameRequestConfig(accountId = accountId)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteAccountsAccountIdName
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun deleteAccountsAccountIdNameRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/accounts/{account-id}/name".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /accounts/{account-id}/password.http
     * Delete HTTP Password
     * Deletes the token with id legacy of an account.
     * @param accountId 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteAccountsAccountIdPasswordHttp(accountId: kotlin.String) : kotlin.String {
        val localVarResponse = deleteAccountsAccountIdPasswordHttpWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /accounts/{account-id}/password.http
     * Delete HTTP Password
     * Deletes the token with id legacy of an account.
     * @param accountId 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteAccountsAccountIdPasswordHttpWithHttpInfo(accountId: kotlin.String) : ApiResponse<kotlin.String?> {
        val localVariableConfig = deleteAccountsAccountIdPasswordHttpRequestConfig(accountId = accountId)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteAccountsAccountIdPasswordHttp
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun deleteAccountsAccountIdPasswordHttpRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/accounts/{account-id}/password.http".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /accounts/{account-id}/sshkeys/{ssh-key-id}
     * Delete SSH Key
     * Deletes an SSH key of a user.
     * @param accountId 
     * @param sshKeyId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteAccountsAccountIdSshkeysSshKeyId(accountId: kotlin.String, sshKeyId: kotlin.String) : kotlin.Any {
        val localVarResponse = deleteAccountsAccountIdSshkeysSshKeyIdWithHttpInfo(accountId = accountId, sshKeyId = sshKeyId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /accounts/{account-id}/sshkeys/{ssh-key-id}
     * Delete SSH Key
     * Deletes an SSH key of a user.
     * @param accountId 
     * @param sshKeyId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteAccountsAccountIdSshkeysSshKeyIdWithHttpInfo(accountId: kotlin.String, sshKeyId: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = deleteAccountsAccountIdSshkeysSshKeyIdRequestConfig(accountId = accountId, sshKeyId = sshKeyId)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteAccountsAccountIdSshkeysSshKeyId
     *
     * @param accountId 
     * @param sshKeyId 
     * @return RequestConfig
     */
    fun deleteAccountsAccountIdSshkeysSshKeyIdRequestConfig(accountId: kotlin.String, sshKeyId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/accounts/{account-id}/sshkeys/{ssh-key-id}".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())).replace("{"+"ssh-key-id"+"}", encodeURIComponent(sshKeyId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /accounts/{account-id}/starred.changes/{starred-change-id}
     * Remove Default Star From Change
     * Remove the default star label from a change. This stops notifications.
     * @param accountId 
     * @param starredChangeId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteAccountsAccountIdStarredChangesStarredChangeId(accountId: kotlin.String, starredChangeId: kotlin.String) : Unit {
        val localVarResponse = deleteAccountsAccountIdStarredChangesStarredChangeIdWithHttpInfo(accountId = accountId, starredChangeId = starredChangeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /accounts/{account-id}/starred.changes/{starred-change-id}
     * Remove Default Star From Change
     * Remove the default star label from a change. This stops notifications.
     * @param accountId 
     * @param starredChangeId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteAccountsAccountIdStarredChangesStarredChangeIdWithHttpInfo(accountId: kotlin.String, starredChangeId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteAccountsAccountIdStarredChangesStarredChangeIdRequestConfig(accountId = accountId, starredChangeId = starredChangeId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteAccountsAccountIdStarredChangesStarredChangeId
     *
     * @param accountId 
     * @param starredChangeId 
     * @return RequestConfig
     */
    fun deleteAccountsAccountIdStarredChangesStarredChangeIdRequestConfig(accountId: kotlin.String, starredChangeId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/accounts/{account-id}/starred.changes/{starred-change-id}".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())).replace("{"+"starred-change-id"+"}", encodeURIComponent(starredChangeId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /accounts/{account-id}/tokens/{token-id}
     * Delete Authentication Token
     * Deletes the token with the given token-id of an account.
     * @param accountId 
     * @param tokenId 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteAccountsAccountIdTokensTokenId(accountId: kotlin.String, tokenId: kotlin.String) : kotlin.String {
        val localVarResponse = deleteAccountsAccountIdTokensTokenIdWithHttpInfo(accountId = accountId, tokenId = tokenId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /accounts/{account-id}/tokens/{token-id}
     * Delete Authentication Token
     * Deletes the token with the given token-id of an account.
     * @param accountId 
     * @param tokenId 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteAccountsAccountIdTokensTokenIdWithHttpInfo(accountId: kotlin.String, tokenId: kotlin.String) : ApiResponse<kotlin.String?> {
        val localVariableConfig = deleteAccountsAccountIdTokensTokenIdRequestConfig(accountId = accountId, tokenId = tokenId)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteAccountsAccountIdTokensTokenId
     *
     * @param accountId 
     * @param tokenId 
     * @return RequestConfig
     */
    fun deleteAccountsAccountIdTokensTokenIdRequestConfig(accountId: kotlin.String, tokenId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/accounts/{account-id}/tokens/{token-id}".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())).replace("{"+"token-id"+"}", encodeURIComponent(tokenId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts
     * Query accounts
     * Queries accounts visible to the caller. The query is given by the query parameter; use limit and start to page and o to request extra fields.
     * @param O  (optional)
     * @param limit  (optional)
     * @param o  (optional)
     * @param query  (optional)
     * @param start  (optional)
     * @param suggest  (optional)
     * @return kotlin.collections.List<AccountInfo>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccounts(O: kotlin.String? = null, limit: kotlin.Int? = null, o: kotlin.collections.List<kotlin.String>? = null, query: kotlin.String? = null, start: kotlin.Int? = null, suggest: kotlin.Boolean? = null) : kotlin.collections.List<AccountInfo> {
        val localVarResponse = getAccountsWithHttpInfo(O = O, limit = limit, o = o, query = query, start = start, suggest = suggest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AccountInfo>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts
     * Query accounts
     * Queries accounts visible to the caller. The query is given by the query parameter; use limit and start to page and o to request extra fields.
     * @param O  (optional)
     * @param limit  (optional)
     * @param o  (optional)
     * @param query  (optional)
     * @param start  (optional)
     * @param suggest  (optional)
     * @return ApiResponse<kotlin.collections.List<AccountInfo>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsWithHttpInfo(O: kotlin.String?, limit: kotlin.Int?, o: kotlin.collections.List<kotlin.String>?, query: kotlin.String?, start: kotlin.Int?, suggest: kotlin.Boolean?) : ApiResponse<kotlin.collections.List<AccountInfo>?> {
        val localVariableConfig = getAccountsRequestConfig(O = O, limit = limit, o = o, query = query, start = start, suggest = suggest)

        return request<Unit, kotlin.collections.List<AccountInfo>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccounts
     *
     * @param O  (optional)
     * @param limit  (optional)
     * @param o  (optional)
     * @param query  (optional)
     * @param start  (optional)
     * @param suggest  (optional)
     * @return RequestConfig
     */
    fun getAccountsRequestConfig(O: kotlin.String?, limit: kotlin.Int?, o: kotlin.collections.List<kotlin.String>?, query: kotlin.String?, start: kotlin.Int?, suggest: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (O != null) {
                    put("O", listOf(O.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (o != null) {
                    put("o", toMultiValue(o.toList(), "multi"))
                }
                if (query != null) {
                    put("query", listOf(query.toString()))
                }
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
                if (suggest != null) {
                    put("suggest", listOf(suggest.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}
     * Get account
     * Returns the details of one account as an AccountInfo entity.
     * @param accountId 
     * @return AccountInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountId(accountId: kotlin.String) : AccountInfo {
        val localVarResponse = getAccountsAccountIdWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AccountInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}
     * Get account
     * Returns the details of one account as an AccountInfo entity.
     * @param accountId 
     * @return ApiResponse<AccountInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdWithHttpInfo(accountId: kotlin.String) : ApiResponse<AccountInfo?> {
        val localVariableConfig = getAccountsAccountIdRequestConfig(accountId = accountId)

        return request<Unit, AccountInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountId
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/active
     * Get Active
     * Checks if an account is active.
     * @param accountId 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdActive(accountId: kotlin.String) : kotlin.String {
        val localVarResponse = getAccountsAccountIdActiveWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/active
     * Get Active
     * Checks if an account is active.
     * @param accountId 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdActiveWithHttpInfo(accountId: kotlin.String) : ApiResponse<kotlin.String?> {
        val localVariableConfig = getAccountsAccountIdActiveRequestConfig(accountId = accountId)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdActive
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdActiveRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/active".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/agreements
     * List Contributor Agreements
     * Gets a list of the user&#39;s signed contributor agreements.
     * @param accountId 
     * @return kotlin.collections.List<AgreementInfo>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdAgreements(accountId: kotlin.String) : kotlin.collections.List<AgreementInfo> {
        val localVarResponse = getAccountsAccountIdAgreementsWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AgreementInfo>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/agreements
     * List Contributor Agreements
     * Gets a list of the user&#39;s signed contributor agreements.
     * @param accountId 
     * @return ApiResponse<kotlin.collections.List<AgreementInfo>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdAgreementsWithHttpInfo(accountId: kotlin.String) : ApiResponse<kotlin.collections.List<AgreementInfo>?> {
        val localVariableConfig = getAccountsAccountIdAgreementsRequestConfig(accountId = accountId)

        return request<Unit, kotlin.collections.List<AgreementInfo>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdAgreements
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdAgreementsRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/agreements".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/avatar
     * Get Avatar
     * Retrieves the avatar image of the user.
     * @param accountId 
     * @param size  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdAvatar(accountId: kotlin.String, size: kotlin.Int? = null) : Unit {
        val localVarResponse = getAccountsAccountIdAvatarWithHttpInfo(accountId = accountId, size = size)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/avatar
     * Get Avatar
     * Retrieves the avatar image of the user.
     * @param accountId 
     * @param size  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdAvatarWithHttpInfo(accountId: kotlin.String, size: kotlin.Int?) : ApiResponse<Unit?> {
        val localVariableConfig = getAccountsAccountIdAvatarRequestConfig(accountId = accountId, size = size)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdAvatar
     *
     * @param accountId 
     * @param size  (optional)
     * @return RequestConfig
     */
    fun getAccountsAccountIdAvatarRequestConfig(accountId: kotlin.String, size: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (size != null) {
                    put("size", listOf(size.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/avatar".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/avatar.change.url
     * Get Avatar Change URL
     * Retrieves the URL where the user can change the avatar image.
     * @param accountId 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdAvatarChangeUrl(accountId: kotlin.String) : kotlin.String {
        val localVarResponse = getAccountsAccountIdAvatarChangeUrlWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/avatar.change.url
     * Get Avatar Change URL
     * Retrieves the URL where the user can change the avatar image.
     * @param accountId 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdAvatarChangeUrlWithHttpInfo(accountId: kotlin.String) : ApiResponse<kotlin.String?> {
        val localVariableConfig = getAccountsAccountIdAvatarChangeUrlRequestConfig(accountId = accountId)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdAvatarChangeUrl
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdAvatarChangeUrlRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/avatar.change.url".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/capabilities
     * List Account Capabilities
     * Returns the global capabilities that are enabled for the specified user.
     * @param accountId 
     * @param q  (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdCapabilities(accountId: kotlin.String, q: kotlin.collections.List<kotlin.String>? = null) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = getAccountsAccountIdCapabilitiesWithHttpInfo(accountId = accountId, q = q)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/capabilities
     * List Account Capabilities
     * Returns the global capabilities that are enabled for the specified user.
     * @param accountId 
     * @param q  (optional)
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdCapabilitiesWithHttpInfo(accountId: kotlin.String, q: kotlin.collections.List<kotlin.String>?) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = getAccountsAccountIdCapabilitiesRequestConfig(accountId = accountId, q = q)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdCapabilities
     *
     * @param accountId 
     * @param q  (optional)
     * @return RequestConfig
     */
    fun getAccountsAccountIdCapabilitiesRequestConfig(accountId: kotlin.String, q: kotlin.collections.List<kotlin.String>?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (q != null) {
                    put("q", toMultiValue(q.toList(), "multi"))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/capabilities".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/capabilities/{capability-id}
     * Check Account Capability
     * Checks if a user has a certain global capability.
     * @param accountId 
     * @param capabilityId 
     * @return java.io.File
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdCapabilitiesCapabilityId(accountId: kotlin.String, capabilityId: kotlin.String) : java.io.File {
        val localVarResponse = getAccountsAccountIdCapabilitiesCapabilityIdWithHttpInfo(accountId = accountId, capabilityId = capabilityId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as java.io.File
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/capabilities/{capability-id}
     * Check Account Capability
     * Checks if a user has a certain global capability.
     * @param accountId 
     * @param capabilityId 
     * @return ApiResponse<java.io.File?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdCapabilitiesCapabilityIdWithHttpInfo(accountId: kotlin.String, capabilityId: kotlin.String) : ApiResponse<java.io.File?> {
        val localVariableConfig = getAccountsAccountIdCapabilitiesCapabilityIdRequestConfig(accountId = accountId, capabilityId = capabilityId)

        return request<Unit, java.io.File>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdCapabilitiesCapabilityId
     *
     * @param accountId 
     * @param capabilityId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdCapabilitiesCapabilityIdRequestConfig(accountId: kotlin.String, capabilityId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/octet-stream"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/capabilities/{capability-id}".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())).replace("{"+"capability-id"+"}", encodeURIComponent(capabilityId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/detail
     * Get Account Details
     * Retrieves the details of an account as an AccountDetailInfo entity.
     * @param accountId 
     * @return AccountDetailInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdDetail(accountId: kotlin.String) : AccountDetailInfo {
        val localVarResponse = getAccountsAccountIdDetailWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AccountDetailInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/detail
     * Get Account Details
     * Retrieves the details of an account as an AccountDetailInfo entity.
     * @param accountId 
     * @return ApiResponse<AccountDetailInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdDetailWithHttpInfo(accountId: kotlin.String) : ApiResponse<AccountDetailInfo?> {
        val localVariableConfig = getAccountsAccountIdDetailRequestConfig(accountId = accountId)

        return request<Unit, AccountDetailInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdDetail
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdDetailRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/detail".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/emails
     * List Account Emails
     * Returns the email addresses that are configured for the specified user.
     * @param accountId 
     * @return kotlin.collections.List<EmailInfo>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdEmails(accountId: kotlin.String) : kotlin.collections.List<EmailInfo> {
        val localVarResponse = getAccountsAccountIdEmailsWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<EmailInfo>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/emails
     * List Account Emails
     * Returns the email addresses that are configured for the specified user.
     * @param accountId 
     * @return ApiResponse<kotlin.collections.List<EmailInfo>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdEmailsWithHttpInfo(accountId: kotlin.String) : ApiResponse<kotlin.collections.List<EmailInfo>?> {
        val localVariableConfig = getAccountsAccountIdEmailsRequestConfig(accountId = accountId)

        return request<Unit, kotlin.collections.List<EmailInfo>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdEmails
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdEmailsRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/emails".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/emails/{email-id}
     * Get Account Email
     * Retrieves an email address of a user.
     * @param accountId 
     * @param emailId 
     * @return EmailInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdEmailsEmailId(accountId: kotlin.String, emailId: kotlin.String) : EmailInfo {
        val localVarResponse = getAccountsAccountIdEmailsEmailIdWithHttpInfo(accountId = accountId, emailId = emailId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EmailInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/emails/{email-id}
     * Get Account Email
     * Retrieves an email address of a user.
     * @param accountId 
     * @param emailId 
     * @return ApiResponse<EmailInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdEmailsEmailIdWithHttpInfo(accountId: kotlin.String, emailId: kotlin.String) : ApiResponse<EmailInfo?> {
        val localVariableConfig = getAccountsAccountIdEmailsEmailIdRequestConfig(accountId = accountId, emailId = emailId)

        return request<Unit, EmailInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdEmailsEmailId
     *
     * @param accountId 
     * @param emailId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdEmailsEmailIdRequestConfig(accountId: kotlin.String, emailId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/emails/{email-id}".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())).replace("{"+"email-id"+"}", encodeURIComponent(emailId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/external.ids
     * Get Account External IDs
     * Retrieves the external ids of a user account.
     * @param accountId 
     * @return kotlin.collections.List<AccountExternalIdInfo>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdExternalIds(accountId: kotlin.String) : kotlin.collections.List<AccountExternalIdInfo> {
        val localVarResponse = getAccountsAccountIdExternalIdsWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AccountExternalIdInfo>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/external.ids
     * Get Account External IDs
     * Retrieves the external ids of a user account.
     * @param accountId 
     * @return ApiResponse<kotlin.collections.List<AccountExternalIdInfo>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdExternalIdsWithHttpInfo(accountId: kotlin.String) : ApiResponse<kotlin.collections.List<AccountExternalIdInfo>?> {
        val localVariableConfig = getAccountsAccountIdExternalIdsRequestConfig(accountId = accountId)

        return request<Unit, kotlin.collections.List<AccountExternalIdInfo>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdExternalIds
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdExternalIdsRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/external.ids".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/gpgkeys
     * List GPG Keys
     * Returns the GPG keys of an account.
     * @param accountId 
     * @return kotlin.collections.Map<kotlin.String, GpgKeyInfo>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdGpgkeys(accountId: kotlin.String) : kotlin.collections.Map<kotlin.String, GpgKeyInfo> {
        val localVarResponse = getAccountsAccountIdGpgkeysWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, GpgKeyInfo>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/gpgkeys
     * List GPG Keys
     * Returns the GPG keys of an account.
     * @param accountId 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, GpgKeyInfo>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdGpgkeysWithHttpInfo(accountId: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, GpgKeyInfo>?> {
        val localVariableConfig = getAccountsAccountIdGpgkeysRequestConfig(accountId = accountId)

        return request<Unit, kotlin.collections.Map<kotlin.String, GpgKeyInfo>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdGpgkeys
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdGpgkeysRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/gpgkeys".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/gpgkeys/{gpg-key-id}
     * Get GPG Key
     * Retrieves a GPG key of a user.
     * @param accountId 
     * @param gpgKeyId 
     * @return GpgKeyInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdGpgkeysGpgKeyId(accountId: kotlin.String, gpgKeyId: kotlin.String) : GpgKeyInfo {
        val localVarResponse = getAccountsAccountIdGpgkeysGpgKeyIdWithHttpInfo(accountId = accountId, gpgKeyId = gpgKeyId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GpgKeyInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/gpgkeys/{gpg-key-id}
     * Get GPG Key
     * Retrieves a GPG key of a user.
     * @param accountId 
     * @param gpgKeyId 
     * @return ApiResponse<GpgKeyInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdGpgkeysGpgKeyIdWithHttpInfo(accountId: kotlin.String, gpgKeyId: kotlin.String) : ApiResponse<GpgKeyInfo?> {
        val localVariableConfig = getAccountsAccountIdGpgkeysGpgKeyIdRequestConfig(accountId = accountId, gpgKeyId = gpgKeyId)

        return request<Unit, GpgKeyInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdGpgkeysGpgKeyId
     *
     * @param accountId 
     * @param gpgKeyId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdGpgkeysGpgKeyIdRequestConfig(accountId: kotlin.String, gpgKeyId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/gpgkeys/{gpg-key-id}".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())).replace("{"+"gpg-key-id"+"}", encodeURIComponent(gpgKeyId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/groups
     * List Groups
     * Lists all groups that contain the specified user as a member.
     * @param accountId 
     * @return kotlin.collections.List<GroupInfo>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdGroups(accountId: kotlin.String) : kotlin.collections.List<GroupInfo> {
        val localVarResponse = getAccountsAccountIdGroupsWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<GroupInfo>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/groups
     * List Groups
     * Lists all groups that contain the specified user as a member.
     * @param accountId 
     * @return ApiResponse<kotlin.collections.List<GroupInfo>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdGroupsWithHttpInfo(accountId: kotlin.String) : ApiResponse<kotlin.collections.List<GroupInfo>?> {
        val localVariableConfig = getAccountsAccountIdGroupsRequestConfig(accountId = accountId)

        return request<Unit, kotlin.collections.List<GroupInfo>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdGroups
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdGroupsRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/groups".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/name
     * Get Account Name
     * Retrieves the full name of an account.
     * @param accountId 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountsAccountIdName(accountId: kotlin.String) : kotlin.String {
        val localVarResponse = getAccountsAccountIdNameWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /accounts/{account-id}/name
     * Get Account Name
     * Retrieves the full name of an account.
     * @param accountId 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountsAccountIdNameWithHttpInfo(accountId: kotlin.String) : ApiResponse<kotlin.String?> {
        val localVariableConfig = getAccountsAccountIdNameRequestConfig(accountId = accountId)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountsAccountIdName
     *
     * @param accountId 
     * @return RequestConfig
     */
    fun getAccountsAccountIdNameRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/accounts/{account-id}/name".replace("{"+"account-id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /accounts/{account-id}/oauthtoken
     * Get OAuth Access Token
     * Returns a previously obtained OAuth access token.
     * @param accountId 
     * @return OAuthTokenInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
[...]
