/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.google.gerrit.client.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.google.gerrit.client.model.InstallPluginInput
import com.google.gerrit.client.model.PluginInfo

import com.google.gson.annotations.SerializedName

import com.google.gerrit.client.infrastructure.ApiClient
import com.google.gerrit.client.infrastructure.ApiResponse
import com.google.gerrit.client.infrastructure.ClientException
import com.google.gerrit.client.infrastructure.ClientError
import com.google.gerrit.client.infrastructure.ServerException
import com.google.gerrit.client.infrastructure.ServerError
import com.google.gerrit.client.infrastructure.MultiValueMap
import com.google.gerrit.client.infrastructure.PartConfig
import com.google.gerrit.client.infrastructure.RequestConfig
import com.google.gerrit.client.infrastructure.RequestMethod
import com.google.gerrit.client.infrastructure.ResponseType
import com.google.gerrit.client.infrastructure.Success
import com.google.gerrit.client.infrastructure.toMultiValue

open class PluginsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://gerrit-review.googlesource.com")
        }
    }

    /**
     * DELETE /plugins/{plugin-id}
     * Disable Plugin
     * Disables a plugin on the Gerrit server.
     * @param pluginId 
     * @return PluginInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deletePluginsPluginId(pluginId: kotlin.String) : PluginInfo {
        val localVarResponse = deletePluginsPluginIdWithHttpInfo(pluginId = pluginId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PluginInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /plugins/{plugin-id}
     * Disable Plugin
     * Disables a plugin on the Gerrit server.
     * @param pluginId 
     * @return ApiResponse<PluginInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deletePluginsPluginIdWithHttpInfo(pluginId: kotlin.String) : ApiResponse<PluginInfo?> {
        val localVariableConfig = deletePluginsPluginIdRequestConfig(pluginId = pluginId)

        return request<Unit, PluginInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deletePluginsPluginId
     *
     * @param pluginId 
     * @return RequestConfig
     */
    fun deletePluginsPluginIdRequestConfig(pluginId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/plugins/{plugin-id}".replace("{"+"plugin-id"+"}", encodeURIComponent(pluginId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /plugins
     * List Plugins
     * Lists the plugins installed on the Gerrit server. Only the enabled plugins are returned unless the all option is specified.
     * @param all  (optional)
     * @param limit  (optional)
     * @param match  (optional)
     * @param prefix  (optional)
     * @param r  (optional)
     * @param start  (optional)
     * @return kotlin.collections.Map<kotlin.String, PluginInfo>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPlugins(all: kotlin.Boolean? = null, limit: kotlin.Int? = null, match: kotlin.String? = null, prefix: kotlin.String? = null, r: kotlin.String? = null, start: kotlin.Int? = null) : kotlin.collections.Map<kotlin.String, PluginInfo> {
        val localVarResponse = getPluginsWithHttpInfo(all = all, limit = limit, match = match, prefix = prefix, r = r, start = start)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, PluginInfo>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /plugins
     * List Plugins
     * Lists the plugins installed on the Gerrit server. Only the enabled plugins are returned unless the all option is specified.
     * @param all  (optional)
     * @param limit  (optional)
     * @param match  (optional)
     * @param prefix  (optional)
     * @param r  (optional)
     * @param start  (optional)
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, PluginInfo>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPluginsWithHttpInfo(all: kotlin.Boolean?, limit: kotlin.Int?, match: kotlin.String?, prefix: kotlin.String?, r: kotlin.String?, start: kotlin.Int?) : ApiResponse<kotlin.collections.Map<kotlin.String, PluginInfo>?> {
        val localVariableConfig = getPluginsRequestConfig(all = all, limit = limit, match = match, prefix = prefix, r = r, start = start)

        return request<Unit, kotlin.collections.Map<kotlin.String, PluginInfo>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPlugins
     *
     * @param all  (optional)
     * @param limit  (optional)
     * @param match  (optional)
     * @param prefix  (optional)
     * @param r  (optional)
     * @param start  (optional)
     * @return RequestConfig
     */
    fun getPluginsRequestConfig(all: kotlin.Boolean?, limit: kotlin.Int?, match: kotlin.String?, prefix: kotlin.String?, r: kotlin.String?, start: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (all != null) {
                    put("all", listOf(all.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (match != null) {
                    put("match", listOf(match.toString()))
                }
                if (prefix != null) {
                    put("prefix", listOf(prefix.toString()))
                }
                if (r != null) {
                    put("r", listOf(r.toString()))
                }
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/plugins",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /plugins/{plugin-id}/gerrit~status
     * Get Plugin Status
     * Retrieves the status of a plugin on the Gerrit server.
     * @param pluginId 
     * @return PluginInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPluginsPluginIdGerritStatus(pluginId: kotlin.String) : PluginInfo {
        val localVarResponse = getPluginsPluginIdGerritStatusWithHttpInfo(pluginId = pluginId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PluginInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /plugins/{plugin-id}/gerrit~status
     * Get Plugin Status
     * Retrieves the status of a plugin on the Gerrit server.
     * @param pluginId 
     * @return ApiResponse<PluginInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPluginsPluginIdGerritStatusWithHttpInfo(pluginId: kotlin.String) : ApiResponse<PluginInfo?> {
        val localVariableConfig = getPluginsPluginIdGerritStatusRequestConfig(pluginId = pluginId)

        return request<Unit, PluginInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPluginsPluginIdGerritStatus
     *
     * @param pluginId 
     * @return RequestConfig
     */
    fun getPluginsPluginIdGerritStatusRequestConfig(pluginId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/plugins/{plugin-id}/gerrit~status".replace("{"+"plugin-id"+"}", encodeURIComponent(pluginId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /plugins/{plugin-id}/gerrit~disable
     * Disable Plugin
     * 
     * @param pluginId 
     * @return PluginInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postPluginsPluginIdGerritDisable(pluginId: kotlin.String) : PluginInfo {
        val localVarResponse = postPluginsPluginIdGerritDisableWithHttpInfo(pluginId = pluginId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PluginInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /plugins/{plugin-id}/gerrit~disable
     * Disable Plugin
     * 
     * @param pluginId 
     * @return ApiResponse<PluginInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postPluginsPluginIdGerritDisableWithHttpInfo(pluginId: kotlin.String) : ApiResponse<PluginInfo?> {
        val localVariableConfig = postPluginsPluginIdGerritDisableRequestConfig(pluginId = pluginId)

        return request<Unit, PluginInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postPluginsPluginIdGerritDisable
     *
     * @param pluginId 
     * @return RequestConfig
     */
    fun postPluginsPluginIdGerritDisableRequestConfig(pluginId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/plugins/{plugin-id}/gerrit~disable".replace("{"+"plugin-id"+"}", encodeURIComponent(pluginId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /plugins/{plugin-id}/gerrit~enable
     * Enable Plugin
     * Enables a plugin on the Gerrit server.
     * @param pluginId 
     * @return PluginInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postPluginsPluginIdGerritEnable(pluginId: kotlin.String) : PluginInfo {
        val localVarResponse = postPluginsPluginIdGerritEnableWithHttpInfo(pluginId = pluginId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PluginInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /plugins/{plugin-id}/gerrit~enable
     * Enable Plugin
     * Enables a plugin on the Gerrit server.
     * @param pluginId 
     * @return ApiResponse<PluginInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postPluginsPluginIdGerritEnableWithHttpInfo(pluginId: kotlin.String) : ApiResponse<PluginInfo?> {
        val localVariableConfig = postPluginsPluginIdGerritEnableRequestConfig(pluginId = pluginId)

        return request<Unit, PluginInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postPluginsPluginIdGerritEnable
     *
     * @param pluginId 
     * @return RequestConfig
     */
    fun postPluginsPluginIdGerritEnableRequestConfig(pluginId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/plugins/{plugin-id}/gerrit~enable".replace("{"+"plugin-id"+"}", encodeURIComponent(pluginId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /plugins/{plugin-id}/gerrit~reload
     * Reload Plugin
     * Reloads a plugin on the Gerrit server.
     * @param pluginId 
     * @return PluginInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postPluginsPluginIdGerritReload(pluginId: kotlin.String) : PluginInfo {
        val localVarResponse = postPluginsPluginIdGerritReloadWithHttpInfo(pluginId = pluginId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PluginInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /plugins/{plugin-id}/gerrit~reload
     * Reload Plugin
     * Reloads a plugin on the Gerrit server.
     * @param pluginId 
     * @return ApiResponse<PluginInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postPluginsPluginIdGerritReloadWithHttpInfo(pluginId: kotlin.String) : ApiResponse<PluginInfo?> {
        val localVariableConfig = postPluginsPluginIdGerritReloadRequestConfig(pluginId = pluginId)

        return request<Unit, PluginInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postPluginsPluginIdGerritReload
     *
     * @param pluginId 
     * @return RequestConfig
     */
    fun postPluginsPluginIdGerritReloadRequestConfig(pluginId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/plugins/{plugin-id}/gerrit~reload".replace("{"+"plugin-id"+"}", encodeURIComponent(pluginId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /plugins/{plugin-id}
     * Install Plugin
     * Installs a new plugin on the Gerrit server. If a plugin with the specified name already exists it is overwritten. Note: if the plugin provides its own name in the MANIFEST file, then the plugin name from the MANIFEST file has precedence over the \\{plugin-id\\} above.
     * @param pluginId 
     * @param installPluginInput  (optional)
     * @return PluginInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun putPluginsPluginId(pluginId: kotlin.String, installPluginInput: InstallPluginInput? = null) : PluginInfo {
        val localVarResponse = putPluginsPluginIdWithHttpInfo(pluginId = pluginId, installPluginInput = installPluginInput)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PluginInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /plugins/{plugin-id}
     * Install Plugin
     * Installs a new plugin on the Gerrit server. If a plugin with the specified name already exists it is overwritten. Note: if the plugin provides its own name in the MANIFEST file, then the plugin name from the MANIFEST file has precedence over the \\{plugin-id\\} above.
     * @param pluginId 
     * @param installPluginInput  (optional)
     * @return ApiResponse<PluginInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun putPluginsPluginIdWithHttpInfo(pluginId: kotlin.String, installPluginInput: InstallPluginInput?) : ApiResponse<PluginInfo?> {
        val localVariableConfig = putPluginsPluginIdRequestConfig(pluginId = pluginId, installPluginInput = installPluginInput)

        return request<InstallPluginInput, PluginInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation putPluginsPluginId
     *
     * @param pluginId 
     * @param installPluginInput  (optional)
     * @return RequestConfig
     */
    fun putPluginsPluginIdRequestConfig(pluginId: kotlin.String, installPluginInput: InstallPluginInput?) : RequestConfig<InstallPluginInput> {
        val localVariableBody = installPluginInput
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/plugins/{plugin-id}".replace("{"+"plugin-id"+"}", encodeURIComponent(pluginId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
