/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.google.gerrit.client.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.google.gerrit.client.model.AccessCheckInfo
import com.google.gerrit.client.model.BanCommitInput
import com.google.gerrit.client.model.BanResultInfo
import com.google.gerrit.client.model.BatchLabelInput
import com.google.gerrit.client.model.BatchSubmitRequirementInput
import com.google.gerrit.client.model.BranchInfo
import com.google.gerrit.client.model.BranchInput
import com.google.gerrit.client.model.ChangeInfo
import com.google.gerrit.client.model.ChangeInput
import com.google.gerrit.client.model.CheckProjectInput
import com.google.gerrit.client.model.CheckProjectResultInfo
import com.google.gerrit.client.model.CherryPickInput
import com.google.gerrit.client.model.CommitInfo
import com.google.gerrit.client.model.CommonFileInfo
import com.google.gerrit.client.model.ConfigInfo
import com.google.gerrit.client.model.ConfigInput
import com.google.gerrit.client.model.CreateCommitInput
import com.google.gerrit.client.model.DashboardInfo
import com.google.gerrit.client.model.DeleteBranchesInput
import com.google.gerrit.client.model.DeleteChangesInput
import com.google.gerrit.client.model.DeleteTagsInput
import com.google.gerrit.client.model.DiffInfo
import com.google.gerrit.client.model.GarbageCollectInput
import com.google.gerrit.client.model.HeadInput
import com.google.gerrit.client.model.IncludedInInfo
import com.google.gerrit.client.model.IndexProjectInput
import com.google.gerrit.client.model.LabelDefinitionInfo
import com.google.gerrit.client.model.LabelDefinitionInput
import com.google.gerrit.client.model.MergeableInfo
import com.google.gerrit.client.model.MigrateLabelsInfo
import com.google.gerrit.client.model.MigrateLabelsReviewInfo
import com.google.gerrit.client.model.ParentInput
import com.google.gerrit.client.model.ProjectAccessInfo
import com.google.gerrit.client.model.ProjectAccessInput
import com.google.gerrit.client.model.ProjectInfo
import com.google.gerrit.client.model.ProjectInput
import com.google.gerrit.client.model.ProjectsDescriptionInput
import com.google.gerrit.client.model.ReflogEntryInfo
import com.google.gerrit.client.model.SetDashboardInput
import com.google.gerrit.client.model.SubmitRequirementInfo
import com.google.gerrit.client.model.SubmitRequirementInput
import com.google.gerrit.client.model.SuggestedReviewerInfo
import com.google.gerrit.client.model.TagInfo
import com.google.gerrit.client.model.TagInput
import com.google.gerrit.client.model.ValidationOptionInfos

import com.google.gson.annotations.SerializedName

import com.google.gerrit.client.infrastructure.ApiClient
import com.google.gerrit.client.infrastructure.ApiResponse
import com.google.gerrit.client.infrastructure.ClientException
import com.google.gerrit.client.infrastructure.ClientError
import com.google.gerrit.client.infrastructure.ServerException
import com.google.gerrit.client.infrastructure.ServerError
import com.google.gerrit.client.infrastructure.MultiValueMap
import com.google.gerrit.client.infrastructure.PartConfig
import com.google.gerrit.client.infrastructure.RequestConfig
import com.google.gerrit.client.infrastructure.RequestMethod
import com.google.gerrit.client.infrastructure.ResponseType
import com.google.gerrit.client.infrastructure.Success
import com.google.gerrit.client.infrastructure.toMultiValue

open class ProjectsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://gerrit-review.googlesource.com")
        }
    }

    /**
     * DELETE /projects/{project-id}/branches/{branch-id}
     * Delete Branch
     * Deletes a branch.
     * @param projectId 
     * @param branchId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteProjectsProjectIdBranchesBranchId(projectId: kotlin.String, branchId: kotlin.String) : Unit {
        val localVarResponse = deleteProjectsProjectIdBranchesBranchIdWithHttpInfo(projectId = projectId, branchId = branchId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /projects/{project-id}/branches/{branch-id}
     * Delete Branch
     * Deletes a branch.
     * @param projectId 
     * @param branchId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteProjectsProjectIdBranchesBranchIdWithHttpInfo(projectId: kotlin.String, branchId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteProjectsProjectIdBranchesBranchIdRequestConfig(projectId = projectId, branchId = branchId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteProjectsProjectIdBranchesBranchId
     *
     * @param projectId 
     * @param branchId 
     * @return RequestConfig
     */
    fun deleteProjectsProjectIdBranchesBranchIdRequestConfig(projectId: kotlin.String, branchId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/projects/{project-id}/branches/{branch-id}".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"branch-id"+"}", encodeURIComponent(branchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /projects/{project-id}/dashboards/{dashboard-id}
     * Delete Dashboard
     * Deletes a project dashboard.
     * @param projectId 
     * @param dashboardId 
     * @return DashboardInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteProjectsProjectIdDashboardsDashboardId(projectId: kotlin.String, dashboardId: kotlin.String) : DashboardInfo {
        val localVarResponse = deleteProjectsProjectIdDashboardsDashboardIdWithHttpInfo(projectId = projectId, dashboardId = dashboardId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DashboardInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /projects/{project-id}/dashboards/{dashboard-id}
     * Delete Dashboard
     * Deletes a project dashboard.
     * @param projectId 
     * @param dashboardId 
     * @return ApiResponse<DashboardInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteProjectsProjectIdDashboardsDashboardIdWithHttpInfo(projectId: kotlin.String, dashboardId: kotlin.String) : ApiResponse<DashboardInfo?> {
        val localVariableConfig = deleteProjectsProjectIdDashboardsDashboardIdRequestConfig(projectId = projectId, dashboardId = dashboardId)

        return request<Unit, DashboardInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteProjectsProjectIdDashboardsDashboardId
     *
     * @param projectId 
     * @param dashboardId 
     * @return RequestConfig
     */
    fun deleteProjectsProjectIdDashboardsDashboardIdRequestConfig(projectId: kotlin.String, dashboardId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/projects/{project-id}/dashboards/{dashboard-id}".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"dashboard-id"+"}", encodeURIComponent(dashboardId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /projects/{project-id}/description
     * Delete Project Description
     * Deletes the description of a project.
     * @param projectId 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteProjectsProjectIdDescription(projectId: kotlin.String) : kotlin.String {
        val localVarResponse = deleteProjectsProjectIdDescriptionWithHttpInfo(projectId = projectId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /projects/{project-id}/description
     * Delete Project Description
     * Deletes the description of a project.
     * @param projectId 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteProjectsProjectIdDescriptionWithHttpInfo(projectId: kotlin.String) : ApiResponse<kotlin.String?> {
        val localVariableConfig = deleteProjectsProjectIdDescriptionRequestConfig(projectId = projectId)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteProjectsProjectIdDescription
     *
     * @param projectId 
     * @return RequestConfig
     */
    fun deleteProjectsProjectIdDescriptionRequestConfig(projectId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/projects/{project-id}/description".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /projects/{project-id}/labels/{label-id}
     * Delete Label
     * Deletes the definition of a label that is defined in this project.
     * @param projectId 
     * @param labelId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteProjectsProjectIdLabelsLabelId(projectId: kotlin.String, labelId: kotlin.String) : Unit {
        val localVarResponse = deleteProjectsProjectIdLabelsLabelIdWithHttpInfo(projectId = projectId, labelId = labelId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /projects/{project-id}/labels/{label-id}
     * Delete Label
     * Deletes the definition of a label that is defined in this project.
     * @param projectId 
     * @param labelId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteProjectsProjectIdLabelsLabelIdWithHttpInfo(projectId: kotlin.String, labelId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteProjectsProjectIdLabelsLabelIdRequestConfig(projectId = projectId, labelId = labelId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteProjectsProjectIdLabelsLabelId
     *
     * @param projectId 
     * @param labelId 
     * @return RequestConfig
     */
    fun deleteProjectsProjectIdLabelsLabelIdRequestConfig(projectId: kotlin.String, labelId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/projects/{project-id}/labels/{label-id}".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"label-id"+"}", encodeURIComponent(labelId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /projects/{project-id}/submit_requirements/{submit-requirement-id}
     * Delete Submit Requirement
     * Deletes the definition of a submit requirement that is defined in this project.
     * @param projectId 
     * @param submitRequirementId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteProjectsProjectIdSubmitRequirementsSubmitRequirementId(projectId: kotlin.String, submitRequirementId: kotlin.String) : Unit {
        val localVarResponse = deleteProjectsProjectIdSubmitRequirementsSubmitRequirementIdWithHttpInfo(projectId = projectId, submitRequirementId = submitRequirementId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /projects/{project-id}/submit_requirements/{submit-requirement-id}
     * Delete Submit Requirement
     * Deletes the definition of a submit requirement that is defined in this project.
     * @param projectId 
     * @param submitRequirementId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteProjectsProjectIdSubmitRequirementsSubmitRequirementIdWithHttpInfo(projectId: kotlin.String, submitRequirementId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteProjectsProjectIdSubmitRequirementsSubmitRequirementIdRequestConfig(projectId = projectId, submitRequirementId = submitRequirementId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteProjectsProjectIdSubmitRequirementsSubmitRequirementId
     *
     * @param projectId 
     * @param submitRequirementId 
     * @return RequestConfig
     */
    fun deleteProjectsProjectIdSubmitRequirementsSubmitRequirementIdRequestConfig(projectId: kotlin.String, submitRequirementId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/projects/{project-id}/submit_requirements/{submit-requirement-id}".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"submit-requirement-id"+"}", encodeURIComponent(submitRequirementId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /projects/{project-id}/tags/{tag-id}
     * Delete Tag
     * Deletes a tag.
     * @param projectId 
     * @param tagId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteProjectsProjectIdTagsTagId(projectId: kotlin.String, tagId: kotlin.String) : Unit {
        val localVarResponse = deleteProjectsProjectIdTagsTagIdWithHttpInfo(projectId = projectId, tagId = tagId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /projects/{project-id}/tags/{tag-id}
     * Delete Tag
     * Deletes a tag.
     * @param projectId 
     * @param tagId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteProjectsProjectIdTagsTagIdWithHttpInfo(projectId: kotlin.String, tagId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteProjectsProjectIdTagsTagIdRequestConfig(projectId = projectId, tagId = tagId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteProjectsProjectIdTagsTagId
     *
     * @param projectId 
     * @param tagId 
     * @return RequestConfig
     */
    fun deleteProjectsProjectIdTagsTagIdRequestConfig(projectId: kotlin.String, tagId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/projects/{project-id}/tags/{tag-id}".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"tag-id"+"}", encodeURIComponent(tagId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects
     * List projects
     * Lists the projects accessible by the caller, optionally filtered by prefix, regex, or substring.
     * @param all  (optional)
     * @param description  (optional)
     * @param format  (optional)
     * @param hasAclFor  (optional)
     * @param limit  (optional)
     * @param match  (optional)
     * @param prefix  (optional)
     * @param query  (optional)
     * @param r  (optional)
     * @param showBranch  (optional)
     * @param start  (optional)
     * @param state  (optional)
     * @param tree  (optional)
     * @param type  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjects(all: kotlin.Boolean? = null, description: kotlin.Boolean? = null, format: kotlin.String? = null, hasAclFor: kotlin.String? = null, limit: kotlin.Int? = null, match: kotlin.String? = null, prefix: kotlin.String? = null, query: kotlin.String? = null, r: kotlin.String? = null, showBranch: kotlin.collections.List<kotlin.String>? = null, start: kotlin.Int? = null, state: kotlin.String? = null, tree: kotlin.Boolean? = null, type: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = getProjectsWithHttpInfo(all = all, description = description, format = format, hasAclFor = hasAclFor, limit = limit, match = match, prefix = prefix, query = query, r = r, showBranch = showBranch, start = start, state = state, tree = tree, type = type)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects
     * List projects
     * Lists the projects accessible by the caller, optionally filtered by prefix, regex, or substring.
     * @param all  (optional)
     * @param description  (optional)
     * @param format  (optional)
     * @param hasAclFor  (optional)
     * @param limit  (optional)
     * @param match  (optional)
     * @param prefix  (optional)
     * @param query  (optional)
     * @param r  (optional)
     * @param showBranch  (optional)
     * @param start  (optional)
     * @param state  (optional)
     * @param tree  (optional)
     * @param type  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsWithHttpInfo(all: kotlin.Boolean?, description: kotlin.Boolean?, format: kotlin.String?, hasAclFor: kotlin.String?, limit: kotlin.Int?, match: kotlin.String?, prefix: kotlin.String?, query: kotlin.String?, r: kotlin.String?, showBranch: kotlin.collections.List<kotlin.String>?, start: kotlin.Int?, state: kotlin.String?, tree: kotlin.Boolean?, type: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = getProjectsRequestConfig(all = all, description = description, format = format, hasAclFor = hasAclFor, limit = limit, match = match, prefix = prefix, query = query, r = r, showBranch = showBranch, start = start, state = state, tree = tree, type = type)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjects
     *
     * @param all  (optional)
     * @param description  (optional)
     * @param format  (optional)
     * @param hasAclFor  (optional)
     * @param limit  (optional)
     * @param match  (optional)
     * @param prefix  (optional)
     * @param query  (optional)
     * @param r  (optional)
     * @param showBranch  (optional)
     * @param start  (optional)
     * @param state  (optional)
     * @param tree  (optional)
     * @param type  (optional)
     * @return RequestConfig
     */
    fun getProjectsRequestConfig(all: kotlin.Boolean?, description: kotlin.Boolean?, format: kotlin.String?, hasAclFor: kotlin.String?, limit: kotlin.Int?, match: kotlin.String?, prefix: kotlin.String?, query: kotlin.String?, r: kotlin.String?, showBranch: kotlin.collections.List<kotlin.String>?, start: kotlin.Int?, state: kotlin.String?, tree: kotlin.Boolean?, type: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (all != null) {
                    put("all", listOf(all.toString()))
                }
                if (description != null) {
                    put("description", listOf(description.toString()))
                }
                if (format != null) {
                    put("format", listOf(format.toString()))
                }
                if (hasAclFor != null) {
                    put("has-acl-for", listOf(hasAclFor.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (match != null) {
                    put("match", listOf(match.toString()))
                }
                if (prefix != null) {
                    put("prefix", listOf(prefix.toString()))
                }
                if (query != null) {
                    put("query", listOf(query.toString()))
                }
                if (r != null) {
                    put("r", listOf(r.toString()))
                }
                if (showBranch != null) {
                    put("show-branch", toMultiValue(showBranch.toList(), "multi"))
                }
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
                if (state != null) {
                    put("state", listOf(state.toString()))
                }
                if (tree != null) {
                    put("tree", listOf(tree.toString()))
                }
                if (type != null) {
                    put("type", listOf(type.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}
     * Get project
     * Retrieves a single project as a ProjectInfo entity.
     * @param projectId 
     * @return ProjectInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectId(projectId: kotlin.String) : ProjectInfo {
        val localVarResponse = getProjectsProjectIdWithHttpInfo(projectId = projectId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProjectInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}
     * Get project
     * Retrieves a single project as a ProjectInfo entity.
     * @param projectId 
     * @return ApiResponse<ProjectInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdWithHttpInfo(projectId: kotlin.String) : ApiResponse<ProjectInfo?> {
        val localVariableConfig = getProjectsProjectIdRequestConfig(projectId = projectId)

        return request<Unit, ProjectInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectId
     *
     * @param projectId 
     * @return RequestConfig
     */
    fun getProjectsProjectIdRequestConfig(projectId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/access
     * List Access Rights for Project
     * Lists the access rights for a single project.
     * @param projectId 
     * @return ProjectAccessInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdAccess(projectId: kotlin.String) : ProjectAccessInfo {
        val localVarResponse = getProjectsProjectIdAccessWithHttpInfo(projectId = projectId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProjectAccessInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/access
     * List Access Rights for Project
     * Lists the access rights for a single project.
     * @param projectId 
     * @return ApiResponse<ProjectAccessInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdAccessWithHttpInfo(projectId: kotlin.String) : ApiResponse<ProjectAccessInfo?> {
        val localVariableConfig = getProjectsProjectIdAccessRequestConfig(projectId = projectId)

        return request<Unit, ProjectAccessInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdAccess
     *
     * @param projectId 
     * @return RequestConfig
     */
    fun getProjectsProjectIdAccessRequestConfig(projectId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/access".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/branches
     * List branches
     * Lists the branches of a project as BranchInfo entities.
     * @param projectId 
     * @param limit  (optional)
     * @param match  (optional)
     * @param nextPageToken  (optional)
     * @param regex  (optional)
     * @param start  (optional)
     * @return kotlin.collections.List<BranchInfo>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdBranches(projectId: kotlin.String, limit: kotlin.Int? = null, match: kotlin.String? = null, nextPageToken: kotlin.String? = null, regex: kotlin.String? = null, start: kotlin.Int? = null) : kotlin.collections.List<BranchInfo> {
        val localVarResponse = getProjectsProjectIdBranchesWithHttpInfo(projectId = projectId, limit = limit, match = match, nextPageToken = nextPageToken, regex = regex, start = start)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<BranchInfo>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/branches
     * List branches
     * Lists the branches of a project as BranchInfo entities.
     * @param projectId 
     * @param limit  (optional)
     * @param match  (optional)
     * @param nextPageToken  (optional)
     * @param regex  (optional)
     * @param start  (optional)
     * @return ApiResponse<kotlin.collections.List<BranchInfo>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdBranchesWithHttpInfo(projectId: kotlin.String, limit: kotlin.Int?, match: kotlin.String?, nextPageToken: kotlin.String?, regex: kotlin.String?, start: kotlin.Int?) : ApiResponse<kotlin.collections.List<BranchInfo>?> {
        val localVariableConfig = getProjectsProjectIdBranchesRequestConfig(projectId = projectId, limit = limit, match = match, nextPageToken = nextPageToken, regex = regex, start = start)

        return request<Unit, kotlin.collections.List<BranchInfo>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdBranches
     *
     * @param projectId 
     * @param limit  (optional)
     * @param match  (optional)
     * @param nextPageToken  (optional)
     * @param regex  (optional)
     * @param start  (optional)
     * @return RequestConfig
     */
    fun getProjectsProjectIdBranchesRequestConfig(projectId: kotlin.String, limit: kotlin.Int?, match: kotlin.String?, nextPageToken: kotlin.String?, regex: kotlin.String?, start: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (match != null) {
                    put("match", listOf(match.toString()))
                }
                if (nextPageToken != null) {
                    put("next-page-token", listOf(nextPageToken.toString()))
                }
                if (regex != null) {
                    put("regex", listOf(regex.toString()))
                }
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/branches".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}
     * Get Branch
     * Retrieves a branch of a project. For the \&quot;All-Users\&quot; repository, the magic branch \&quot;refs/users/self\&quot; is automatically resolved to the user branch of the calling user.
     * @param projectId 
     * @param branchId 
     * @return BranchInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdBranchesBranchId(projectId: kotlin.String, branchId: kotlin.String) : BranchInfo {
        val localVarResponse = getProjectsProjectIdBranchesBranchIdWithHttpInfo(projectId = projectId, branchId = branchId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BranchInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}
     * Get Branch
     * Retrieves a branch of a project. For the \&quot;All-Users\&quot; repository, the magic branch \&quot;refs/users/self\&quot; is automatically resolved to the user branch of the calling user.
     * @param projectId 
     * @param branchId 
     * @return ApiResponse<BranchInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdBranchesBranchIdWithHttpInfo(projectId: kotlin.String, branchId: kotlin.String) : ApiResponse<BranchInfo?> {
        val localVariableConfig = getProjectsProjectIdBranchesBranchIdRequestConfig(projectId = projectId, branchId = branchId)

        return request<Unit, BranchInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdBranchesBranchId
     *
     * @param projectId 
     * @param branchId 
     * @return RequestConfig
     */
    fun getProjectsProjectIdBranchesBranchIdRequestConfig(projectId: kotlin.String, branchId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/branches/{branch-id}".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"branch-id"+"}", encodeURIComponent(branchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}/files/{file-id}/content
     * Get Content
     * Gets the content of a file from the HEAD revision of a certain branch.
     * @param projectId 
     * @param branchId 
     * @param fileId 
     * @return java.io.File
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdBranchesBranchIdFilesFileIdContent(projectId: kotlin.String, branchId: kotlin.String, fileId: kotlin.String) : java.io.File {
        val localVarResponse = getProjectsProjectIdBranchesBranchIdFilesFileIdContentWithHttpInfo(projectId = projectId, branchId = branchId, fileId = fileId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as java.io.File
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}/files/{file-id}/content
     * Get Content
     * Gets the content of a file from the HEAD revision of a certain branch.
     * @param projectId 
     * @param branchId 
     * @param fileId 
     * @return ApiResponse<java.io.File?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdBranchesBranchIdFilesFileIdContentWithHttpInfo(projectId: kotlin.String, branchId: kotlin.String, fileId: kotlin.String) : ApiResponse<java.io.File?> {
        val localVariableConfig = getProjectsProjectIdBranchesBranchIdFilesFileIdContentRequestConfig(projectId = projectId, branchId = branchId, fileId = fileId)

        return request<Unit, java.io.File>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdBranchesBranchIdFilesFileIdContent
     *
     * @param projectId 
     * @param branchId 
     * @param fileId 
     * @return RequestConfig
     */
    fun getProjectsProjectIdBranchesBranchIdFilesFileIdContentRequestConfig(projectId: kotlin.String, branchId: kotlin.String, fileId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/octet-stream"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/branches/{branch-id}/files/{file-id}/content".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"branch-id"+"}", encodeURIComponent(branchId.toString())).replace("{"+"file-id"+"}", encodeURIComponent(fileId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}/files/{file-id}/diff
     * 
     * 
     * @param projectId 
     * @param branchId 
     * @param fileId 
     * @param base  (optional)
     * @param intraline  (optional)
     * @param whitespace  (optional)
     * @return DiffInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdBranchesBranchIdFilesFileIdDiff(projectId: kotlin.String, branchId: kotlin.String, fileId: kotlin.String, base: kotlin.String? = null, intraline: kotlin.Boolean? = null, whitespace: kotlin.String? = null) : DiffInfo {
        val localVarResponse = getProjectsProjectIdBranchesBranchIdFilesFileIdDiffWithHttpInfo(projectId = projectId, branchId = branchId, fileId = fileId, base = base, intraline = intraline, whitespace = whitespace)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DiffInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}/files/{file-id}/diff
     * 
     * 
     * @param projectId 
     * @param branchId 
     * @param fileId 
     * @param base  (optional)
     * @param intraline  (optional)
     * @param whitespace  (optional)
     * @return ApiResponse<DiffInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdBranchesBranchIdFilesFileIdDiffWithHttpInfo(projectId: kotlin.String, branchId: kotlin.String, fileId: kotlin.String, base: kotlin.String?, intraline: kotlin.Boolean?, whitespace: kotlin.String?) : ApiResponse<DiffInfo?> {
        val localVariableConfig = getProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequestConfig(projectId = projectId, branchId = branchId, fileId = fileId, base = base, intraline = intraline, whitespace = whitespace)

        return request<Unit, DiffInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdBranchesBranchIdFilesFileIdDiff
     *
     * @param projectId 
     * @param branchId 
     * @param fileId 
     * @param base  (optional)
     * @param intraline  (optional)
     * @param whitespace  (optional)
     * @return RequestConfig
     */
    fun getProjectsProjectIdBranchesBranchIdFilesFileIdDiffRequestConfig(projectId: kotlin.String, branchId: kotlin.String, fileId: kotlin.String, base: kotlin.String?, intraline: kotlin.Boolean?, whitespace: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (base != null) {
                    put("base", listOf(base.toString()))
                }
                if (intraline != null) {
                    put("intraline", listOf(intraline.toString()))
                }
                if (whitespace != null) {
                    put("whitespace", listOf(whitespace.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/branches/{branch-id}/files/{file-id}/diff".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"branch-id"+"}", encodeURIComponent(branchId.toString())).replace("{"+"file-id"+"}", encodeURIComponent(fileId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}/mergeable
     * Get Mergeable Information
     * Gets whether the source is mergeable with the target branch.
     * @param projectId 
     * @param branchId 
     * @param source 
     * @param strategy  (optional)
     * @return MergeableInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdBranchesBranchIdMergeable(projectId: kotlin.String, branchId: kotlin.String, source: kotlin.String, strategy: kotlin.String? = null) : MergeableInfo {
        val localVarResponse = getProjectsProjectIdBranchesBranchIdMergeableWithHttpInfo(projectId = projectId, branchId = branchId, source = source, strategy = strategy)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MergeableInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}/mergeable
     * Get Mergeable Information
     * Gets whether the source is mergeable with the target branch.
     * @param projectId 
     * @param branchId 
     * @param source 
     * @param strategy  (optional)
     * @return ApiResponse<MergeableInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdBranchesBranchIdMergeableWithHttpInfo(projectId: kotlin.String, branchId: kotlin.String, source: kotlin.String, strategy: kotlin.String?) : ApiResponse<MergeableInfo?> {
        val localVariableConfig = getProjectsProjectIdBranchesBranchIdMergeableRequestConfig(projectId = projectId, branchId = branchId, source = source, strategy = strategy)

        return request<Unit, MergeableInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdBranchesBranchIdMergeable
     *
     * @param projectId 
     * @param branchId 
     * @param source 
     * @param strategy  (optional)
     * @return RequestConfig
     */
    fun getProjectsProjectIdBranchesBranchIdMergeableRequestConfig(projectId: kotlin.String, branchId: kotlin.String, source: kotlin.String, strategy: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("source", listOf(source.toString()))
                if (strategy != null) {
                    put("strategy", listOf(strategy.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/branches/{branch-id}/mergeable".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"branch-id"+"}", encodeURIComponent(branchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}/reflog
     * Get Reflog
     * Gets the reflog of a certain branch.
     * @param projectId 
     * @param branchId 
     * @param from  (optional)
     * @param limit  (optional)
     * @param to  (optional)
     * @return kotlin.collections.List<ReflogEntryInfo>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdBranchesBranchIdReflog(projectId: kotlin.String, branchId: kotlin.String, from: kotlin.String? = null, limit: kotlin.Int? = null, to: kotlin.String? = null) : kotlin.collections.List<ReflogEntryInfo> {
        val localVarResponse = getProjectsProjectIdBranchesBranchIdReflogWithHttpInfo(projectId = projectId, branchId = branchId, from = from, limit = limit, to = to)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ReflogEntryInfo>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}/reflog
     * Get Reflog
     * Gets the reflog of a certain branch.
     * @param projectId 
     * @param branchId 
     * @param from  (optional)
     * @param limit  (optional)
     * @param to  (optional)
     * @return ApiResponse<kotlin.collections.List<ReflogEntryInfo>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdBranchesBranchIdReflogWithHttpInfo(projectId: kotlin.String, branchId: kotlin.String, from: kotlin.String?, limit: kotlin.Int?, to: kotlin.String?) : ApiResponse<kotlin.collections.List<ReflogEntryInfo>?> {
        val localVariableConfig = getProjectsProjectIdBranchesBranchIdReflogRequestConfig(projectId = projectId, branchId = branchId, from = from, limit = limit, to = to)

        return request<Unit, kotlin.collections.List<ReflogEntryInfo>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdBranchesBranchIdReflog
     *
     * @param projectId 
     * @param branchId 
     * @param from  (optional)
     * @param limit  (optional)
     * @param to  (optional)
     * @return RequestConfig
     */
    fun getProjectsProjectIdBranchesBranchIdReflogRequestConfig(projectId: kotlin.String, branchId: kotlin.String, from: kotlin.String?, limit: kotlin.Int?, to: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (from != null) {
                    put("from", listOf(from.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (to != null) {
                    put("to", listOf(to.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/branches/{branch-id}/reflog".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"branch-id"+"}", encodeURIComponent(branchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}/suggest_reviewers
     * Suggest Reviewers
     * Suggest the reviewers for a given query q and result limit n. If result limit is not passed, then the default 10 is used.
     * @param projectId 
     * @param branchId 
     * @param excludeGroups  (optional)
     * @param limit  (optional)
     * @param query  (optional)
     * @param reviewerState  (optional)
     * @return kotlin.collections.List<SuggestedReviewerInfo>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdBranchesBranchIdSuggestReviewers(projectId: kotlin.String, branchId: kotlin.String, excludeGroups: kotlin.Boolean? = null, limit: kotlin.Int? = null, query: kotlin.String? = null, reviewerState: kotlin.String? = null) : kotlin.collections.List<SuggestedReviewerInfo> {
        val localVarResponse = getProjectsProjectIdBranchesBranchIdSuggestReviewersWithHttpInfo(projectId = projectId, branchId = branchId, excludeGroups = excludeGroups, limit = limit, query = query, reviewerState = reviewerState)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SuggestedReviewerInfo>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}/suggest_reviewers
     * Suggest Reviewers
     * Suggest the reviewers for a given query q and result limit n. If result limit is not passed, then the default 10 is used.
     * @param projectId 
     * @param branchId 
     * @param excludeGroups  (optional)
     * @param limit  (optional)
     * @param query  (optional)
     * @param reviewerState  (optional)
     * @return ApiResponse<kotlin.collections.List<SuggestedReviewerInfo>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdBranchesBranchIdSuggestReviewersWithHttpInfo(projectId: kotlin.String, branchId: kotlin.String, excludeGroups: kotlin.Boolean?, limit: kotlin.Int?, query: kotlin.String?, reviewerState: kotlin.String?) : ApiResponse<kotlin.collections.List<SuggestedReviewerInfo>?> {
        val localVariableConfig = getProjectsProjectIdBranchesBranchIdSuggestReviewersRequestConfig(projectId = projectId, branchId = branchId, excludeGroups = excludeGroups, limit = limit, query = query, reviewerState = reviewerState)

        return request<Unit, kotlin.collections.List<SuggestedReviewerInfo>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdBranchesBranchIdSuggestReviewers
     *
     * @param projectId 
     * @param branchId 
     * @param excludeGroups  (optional)
     * @param limit  (optional)
     * @param query  (optional)
     * @param reviewerState  (optional)
     * @return RequestConfig
     */
    fun getProjectsProjectIdBranchesBranchIdSuggestReviewersRequestConfig(projectId: kotlin.String, branchId: kotlin.String, excludeGroups: kotlin.Boolean?, limit: kotlin.Int?, query: kotlin.String?, reviewerState: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (excludeGroups != null) {
                    put("exclude-groups", listOf(excludeGroups.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (query != null) {
                    put("query", listOf(query.toString()))
                }
                if (reviewerState != null) {
                    put("reviewer-state", listOf(reviewerState.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/branches/{branch-id}/suggest_reviewers".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"branch-id"+"}", encodeURIComponent(branchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}/validation-options
     * Get Validation Options
     * Retrieves the validation options applicable for the given project and branch.
     * @param projectId 
     * @param branchId 
     * @return ValidationOptionInfos
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdBranchesBranchIdValidationOptions(projectId: kotlin.String, branchId: kotlin.String) : ValidationOptionInfos {
        val localVarResponse = getProjectsProjectIdBranchesBranchIdValidationOptionsWithHttpInfo(projectId = projectId, branchId = branchId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ValidationOptionInfos
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/branches/{branch-id}/validation-options
     * Get Validation Options
     * Retrieves the validation options applicable for the given project and branch.
     * @param projectId 
     * @param branchId 
     * @return ApiResponse<ValidationOptionInfos?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdBranchesBranchIdValidationOptionsWithHttpInfo(projectId: kotlin.String, branchId: kotlin.String) : ApiResponse<ValidationOptionInfos?> {
        val localVariableConfig = getProjectsProjectIdBranchesBranchIdValidationOptionsRequestConfig(projectId = projectId, branchId = branchId)

        return request<Unit, ValidationOptionInfos>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdBranchesBranchIdValidationOptions
     *
     * @param projectId 
     * @param branchId 
     * @return RequestConfig
     */
    fun getProjectsProjectIdBranchesBranchIdValidationOptionsRequestConfig(projectId: kotlin.String, branchId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/branches/{branch-id}/validation-options".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"branch-id"+"}", encodeURIComponent(branchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/check.access
     * Check Access
     * This command runs access checks for other users. This requires the View Access global capability.
     * @param projectId 
     * @param account  (optional)
     * @param perm  (optional)
     * @param ref  (optional)
     * @return AccessCheckInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdCheckAccess(projectId: kotlin.String, account: kotlin.String? = null, perm: kotlin.String? = null, ref: kotlin.String? = null) : AccessCheckInfo {
        val localVarResponse = getProjectsProjectIdCheckAccessWithHttpInfo(projectId = projectId, account = account, perm = perm, ref = ref)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AccessCheckInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/check.access
     * Check Access
     * This command runs access checks for other users. This requires the View Access global capability.
     * @param projectId 
     * @param account  (optional)
     * @param perm  (optional)
     * @param ref  (optional)
     * @return ApiResponse<AccessCheckInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdCheckAccessWithHttpInfo(projectId: kotlin.String, account: kotlin.String?, perm: kotlin.String?, ref: kotlin.String?) : ApiResponse<AccessCheckInfo?> {
        val localVariableConfig = getProjectsProjectIdCheckAccessRequestConfig(projectId = projectId, account = account, perm = perm, ref = ref)

        return request<Unit, AccessCheckInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdCheckAccess
     *
     * @param projectId 
     * @param account  (optional)
     * @param perm  (optional)
     * @param ref  (optional)
     * @return RequestConfig
     */
    fun getProjectsProjectIdCheckAccessRequestConfig(projectId: kotlin.String, account: kotlin.String?, perm: kotlin.String?, ref: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (account != null) {
                    put("account", listOf(account.toString()))
                }
                if (perm != null) {
                    put("perm", listOf(perm.toString()))
                }
                if (ref != null) {
                    put("ref", listOf(ref.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/check.access".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/children
     * List Child Projects
     * List the direct child projects of a project.
     * @param projectId 
     * @param limit  (optional)
     * @param recursive  (optional)
     * @return kotlin.collections.List<ProjectInfo>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdChildren(projectId: kotlin.String, limit: kotlin.Int? = null, recursive: kotlin.Boolean? = null) : kotlin.collections.List<ProjectInfo> {
        val localVarResponse = getProjectsProjectIdChildrenWithHttpInfo(projectId = projectId, limit = limit, recursive = recursive)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ProjectInfo>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/children
     * List Child Projects
     * List the direct child projects of a project.
     * @param projectId 
     * @param limit  (optional)
     * @param recursive  (optional)
     * @return ApiResponse<kotlin.collections.List<ProjectInfo>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdChildrenWithHttpInfo(projectId: kotlin.String, limit: kotlin.Int?, recursive: kotlin.Boolean?) : ApiResponse<kotlin.collections.List<ProjectInfo>?> {
        val localVariableConfig = getProjectsProjectIdChildrenRequestConfig(projectId = projectId, limit = limit, recursive = recursive)

        return request<Unit, kotlin.collections.List<ProjectInfo>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdChildren
     *
     * @param projectId 
     * @param limit  (optional)
     * @param recursive  (optional)
     * @return RequestConfig
     */
    fun getProjectsProjectIdChildrenRequestConfig(projectId: kotlin.String, limit: kotlin.Int?, recursive: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (recursive != null) {
                    put("recursive", listOf(recursive.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/children".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/children/{child-project-id}
     * Get Child Project
     * Retrieves a child project. If a non-direct child project should be retrieved the parameter recursive must be set.
     * @param projectId 
     * @param childProjectId 
     * @param recursive  (optional)
     * @return ProjectInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdChildrenChildProjectId(projectId: kotlin.String, childProjectId: kotlin.String, recursive: kotlin.Boolean? = null) : ProjectInfo {
        val localVarResponse = getProjectsProjectIdChildrenChildProjectIdWithHttpInfo(projectId = projectId, childProjectId = childProjectId, recursive = recursive)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProjectInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/children/{child-project-id}
     * Get Child Project
     * Retrieves a child project. If a non-direct child project should be retrieved the parameter recursive must be set.
     * @param projectId 
     * @param childProjectId 
     * @param recursive  (optional)
     * @return ApiResponse<ProjectInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdChildrenChildProjectIdWithHttpInfo(projectId: kotlin.String, childProjectId: kotlin.String, recursive: kotlin.Boolean?) : ApiResponse<ProjectInfo?> {
        val localVariableConfig = getProjectsProjectIdChildrenChildProjectIdRequestConfig(projectId = projectId, childProjectId = childProjectId, recursive = recursive)

        return request<Unit, ProjectInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdChildrenChildProjectId
     *
     * @param projectId 
     * @param childProjectId 
     * @param recursive  (optional)
     * @return RequestConfig
     */
    fun getProjectsProjectIdChildrenChildProjectIdRequestConfig(projectId: kotlin.String, childProjectId: kotlin.String, recursive: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (recursive != null) {
                    put("recursive", listOf(recursive.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/children/{child-project-id}".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"child-project-id"+"}", encodeURIComponent(childProjectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/commits/{commit-id}
     * Get Commit
     * Retrieves a commit of a project.
     * @param projectId 
     * @param commitId 
     * @return CommitInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProjectsProjectIdCommitsCommitId(projectId: kotlin.String, commitId: kotlin.String) : CommitInfo {
        val localVarResponse = getProjectsProjectIdCommitsCommitIdWithHttpInfo(projectId = projectId, commitId = commitId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CommitInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /projects/{project-id}/commits/{commit-id}
     * Get Commit
     * Retrieves a commit of a project.
     * @param projectId 
     * @param commitId 
     * @return ApiResponse<CommitInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProjectsProjectIdCommitsCommitIdWithHttpInfo(projectId: kotlin.String, commitId: kotlin.String) : ApiResponse<CommitInfo?> {
        val localVariableConfig = getProjectsProjectIdCommitsCommitIdRequestConfig(projectId = projectId, commitId = commitId)

        return request<Unit, CommitInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProjectsProjectIdCommitsCommitId
     *
     * @param projectId 
     * @param commitId 
     * @return RequestConfig
     */
    fun getProjectsProjectIdCommitsCommitIdRequestConfig(projectId: kotlin.String, commitId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/projects/{project-id}/commits/{commit-id}".replace("{"+"project-id"+"}", encodeURIComponent(projectId.toString())).replace("{"+"commit-id"+"}", encodeURIComponent(commitId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /projects/{project-id}/commits/{commit-id}/diff
     * Diff Between Commits
     * Lists the files that differ between two commits. This is useful for comparing commits across multiple changes (similar to a pull request diff).
     * @param projectId 
     * @param commitId 
     * @param base  (optional)
     * @param nameOnly  (optional)
     * @return kotlin.collections.Map<kotlin.String, CommonFileInfo>
[...]
